<!doctype html>
<html>
  <head>
		{% if section %}
    <title>NLP - {{ section }}</title>
    {% else %}
    <title>NLP - Home</title>
    {% endif %}

		<link href= "https://fonts.googleapis.com/css?family=Karla|Mirza|Muli:400,300i|Noto+Sans|Hind+Guntur:600" rel='stylesheet' type='text/css'>
		<div id="navbar"></div>
  </head>
	<body style="padding-top:50px;">
		{% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    {% block content %}{% endblock %}

		{% block scripts %}
		{% endblock %}
    {{ moment.include_moment() }}
		<script type="text/javascript">
			title="NLP | {{ section }}";
			menu=[
			{key: 0, name: 'Home', link: "{{ url_for('nlp.index') }}"},
			{key: 3, name: 'Posts', link: "{{ url_for('nlp.blogs') }}"},
			{key: 4, name: 'Processing', link: "{{ url_for('nlp.processing') }}"},
			{key: 5, name: 'Language', link: "{{ url_for('nlp.language') }}"},
			{key: 6, name: 'Natural', link: "{{ url_for('nlp.natural') }}"},
			{% if current_user.is_anonymous %}
			{key: 1, name: 'Login', link: "{{ url_for('auth.login') }}"},
      {% else %}
			{key: 2, name: 'Logout', link: "{{ url_for('auth.logout') }}"}
      {% endif %}
		]
		</script>
		<script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
