<!doctype html>
<html>
  <head>
		{% if section %}
    <title>NLP - {{ section }}</title>
    {% else %}
    <title>NLP - Home</title>
    {% endif %}

		<div id="navbar"></div>
  </head>
	<body style="padding-top:50px;">
		<div id="app"></div>
		{% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    {% block content %}{% endblock %}

		{% block scripts %}
    {{ moment.include_moment() }}
		<script type="text/javascript">
			title="NLP | {{ section }}";
			menu=[
			{key: 0, name: 'Home', link: "{{ url_for('nlp.index') }}"},
			{% if current_user.is_anonymous %}
			{key: 1, name: 'Login', link: "{{ url_for('auth.login') }}"},
      {% else %}
			{key: 2, name: 'Logout', link: "{{ url_for('auth.logout') }}"}
      {% endif %}
		]
		</script>
		<script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
		{% endblock %}
  </body>
</html>
