<!doctype html>
<html>
  <head>
		{% if section %}
    <title>NLP - {{ section }}</title>
    {% else %}
    <title>NLP - Home</title>
    {% endif %}

		<script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
  </head>
	<body>
		<div id="app"></div>
		<div id="navbar"></div>
		<div>NLP -
			<a href="{{ url_for('index') }}">Home</a>
			{% if current_user.is_anonymous %}
      <a href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
		</div>
		<hr>
		{% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    {% block content %}{% endblock %}
		<script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
