{% extends "base.html" %}

{% block content %}

	{% if section %}
	<h1 class="mdc-typography--headline2">Hello world, I'm the {{ section }} section of an nlp web app!</h1>
  {% else %}
	<h1 class="mdc-typography--headline2">Hello world, I'm the skeloton of an nlp web app!</h1>
  {% endif %}

	{% if not current_user.is_anonymous %}
	<h1 class="mdc-typography--headline3">Hi, {{ current_user.username }}!</h1>
  {% endif %}

	{% for intro in intros %}
  <div><p>{{ intro.liason }} says: <b>{{ intro.speech }}</b></p></div>
  {% endfor %}

	{% if user.last_seen %}
  <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
  {% endif %}

{% endblock %}
