{% extends "base.html" %}

{% block content %}
<link href="{{ url_for('static', filename='layout.css') }}" rel="stylesheet" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Karla|Mirza|Muli:400,300i|Noto+Sans|Hind+Guntur:600" rel='stylesheet' type='text/css'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

	<div class="hoc" id="singlepost" style="padding-top:30px;"></div>
{% endblock %}

{% block scripts %}
		<script type="text/javascript">
			post={{ post|tojson|encryptdata }}
		</script>

{% endblock scripts %}
